.run-info-link {
  width: 33.3%;
  height: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;
  &__logo {
    background-size: cover;

    &-box {
      width: 64px;
      height: 64px;
      border-radius: 100%;
      background-color: #E20020;
      margin-bottom: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_regulations {
      background-image: url(@/assets/personalAccount/run-info-link-regulations.png);
      height: 32px;
      width: 32px;
    }

    &_distance-path {
      background-image: url(@/assets/personalAccount/run-info-link-distance-path.png);
      height: 40px;
      width: 45px;
    }

    &_timetable {
      background-image: url(@/assets/personalAccount/run-info-link-timetable.png);
      height: 32px;
      width: 32px;
    }

    &_start-protocol {
      background-image: url(@/assets/personalAccount/run-info-link-start-protocol.png);
      height: 25px;
      width: 41px;
    }

    &_finish-protocol {
      background-image: url(@/assets/personalAccount/run-info-link-finish-protocol.png);
      height: 33px;
      width: 28px;
    }

    &_wish-list {
      background-image: url(@/assets/personalAccount/run-info-link-wish-list.png);
      height: 24px;
      width: 27px;
    }
  }
  &__text {
    display: block;
    width: 100%;
    text-align: center;
  }
}