mixin wish-run (location, date, description)
    .run-info
        .run-info__content
            p.run-info__content-location= location
            p.run-info__content-date= date
            p.run-info__content-description= description
            a.run-info__content-link(href='../qrCode/wish-run-info.html') Зареєструватися
            p.run-info__content-reglament Регламент
