doctype
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Document
    body
        main.start-nav
            button.start-nav__button
                a.start-nav__button-link(href= '') Перейти в главное приложение
            button.start-nav__button
                a.start-nav__button-link(href= '') Перейти к Регистрации команды
            button.start-nav__button
                a.start-nav__button-link(href= './personalAccount/personal-account.html') Перейти в личный кабинет
