include ../../includes/header
include ../../includes/nav-menu
include ../../utils/completed-run
doctype
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Personal Completed Runs
    body.personal-completed-runs
        + header('one title', './personal-account.html', 'Минулі забіги')
        main.main
            .container
                .main__info
                    .main__info-date Сьогодні 11 листопада
                .main__content
                    + completed-run('Львів', '05.09.2021', 'Poltava Nova poshta halfmarathon', 'Три медведя эстафета 10 км', '09:20:06')
                    + completed-run('Полтава', '05.09.2021', 'Poltava Nova poshta halfmarathon', '42 км', '09:20:06')
                    + completed-run('Полтава', '05.09.2021', 'Poltava Nova poshta halfmarathon', '42 км', '09:20:06')
                    + completed-run('Полтава', '05.09.2021', 'Poltava Nova poshta halfmarathon', '42 км', '09:20:06')
        footer.footer
            + nav-menu('home')