include ../../includes/header
include ../../includes/nav-menu
include ../../includes/run-info-link
include ../../utils/button
doctype
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Інформація про забіг
    body.wish-run-info
        .wish-run-info__scroll
            + header('img', './wish-runs.html')
            main.main.container
                p.main__description
                    | Марафон — найбільша дистанція в місті Львів.
                    | Подолавши її ти розумієш, що здатен на більше, ніж здається!
                    | Ми в тебе віримо, долучайся до нас!
                .main__link-box
                    + run-info-link('regulations')
                    + run-info-link('distance path')
                    + run-info-link('timetable')
                    + run-info-link('start protocol')
                    + run-info-link('finish protocol')
                    + run-info-link('wish list')
                .main__register-box
                    + button('Зареєструватись через ДІЯ (580 грн)', 'red')
                    + button('Зареєструватись до 25.11 (650 грн)', 'red')
                    p.main__register-description Зареєструватись після 25.11 (850 грн)
                    + button('Зареєструвати друга (650 грн)', 'red')
        footer.footer
            + nav-menu('qr')