include ../../includes/header
include ../../includes/nav-menu
include ../../utils/completed-run
include ../../includes/search-box
doctype
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Main Completed Runs
    body.completed-runs_main
        + header('one title calendar', './main-page.html', 'Результати забігів')
        main.main
            .container
                + search-box('search and filter','grey')
                .main__content
                    + completed-run('Полтава', '05.09.2021', 'Poltava Nova poshta halfmarathon', '42 км', '09:20:06')
                    + completed-run('Полтава', '05.09.2021', 'Poltava Nova poshta halfmarathon', '42 км', '09:20:06')
                    + completed-run('Полтава', '05.09.2021', 'Poltava Nova poshta halfmarathon', '42 км', '09:20:06')
                    + completed-run('Полтава', '05.09.2021', 'Poltava Nova poshta halfmarathon', '42 км', '09:20:06')
        footer.footer
            + nav-menu('home')