include ../../includes/header
include ../../includes/nav-menu
include ../../utils/wish-run
include ../../includes/search-box
doctype
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Мої побажання
    body.wish-runs_list
        + header('one title calendar', '../index.html', 'Всі цьогорічні бігові івенти')
        main.main
            .container

                + search-box('only search','grey')
                .main__content
                    + wish-run('Львів', '05.09.2021', 'Poltava Nova poshta halfmarathon')
                    + wish-run('Полтава', '05.09.2021', 'Poltava Nova poshta halfmarathon')
                    + wish-run('Полтава', '05.09.2021', 'Poltava Nova poshta halfmarathon')
                    + wish-run('Полтава', '05.09.2021', 'Poltava Nova poshta halfmarathon')
        footer.footer
            + nav-menu('home')